{% extends "base.html" %}


{% block title %}Villa{% endblock  %}

{% block content %}
    {% include 'includes/header.html' %}
     
    <section id="controls-carousel" class="flex items-center justify-center w-auto h-screen bg-fixed bg-center bg-no-repeat" style="background-image: url(static/images/banner-01.jpg)" data-carousel="static">
        <article class="h-auto space-y-5 w-[32rem]">
            <div class="gap-2 px-4 py-2 bg-white w-fit">
                <h2 class="inline-block font-sans text-lg text-black">Toronto, </h2>
                <h2 class="inline-block font-sans text-lg font-semibold text-orange-600">Canada</h2>
            </div>
            <h1 class="relative font-sans font-bold text-white text-7xl">
                Hurry! <br />
                GET THE BEST <br />
                VILLA FOR <br />
                YOU
            </h1>
        </article>
        <article class="w-[32rem]"></article>
    </section>
    <section class="relative flex items-center justify-center w-full h-auto py-24">
        <article class="relative w-auto h-[32rem] bg-white flex gap-5">
            <div class="absolute bottom-0 left-0 items-center justify-center p-5 -translate-x-10 translate-y-10 bg-red-600 rounded-full h-fit">
                <img src="static/images/featured-icon.png" class="h-14 w-14" alt="" srcset="">
            </div>
            <img src="static/images/featured.jpg" class="object-contain aspect-auto w-96" alt="" srcset="" />
            <div class="w-auto space-y-6 h-fit">
                <h6 class="px-2 font-sans text-lg font-bold border-l-4 border-solid text-amber-600 border-amber-600">Featured</h6>
                <h1 class="space-y-2 font-sans text-5xl font-bold text-black">
                    Best Appartment <br />
                    & Sea View
                </h1>
                <div class="h-fit w-[27rem] mx-3 divide-y-2 rounded-lg bg-gray-100">
                    <div class="my-2">
                        <a id="trigger-accordion-1" class="block py-3 mx-3 font-sans text-lg cursor-pointer text-amber-600">Best useful link ?</a>
                        <p class="flex-wrap mx-3 my-2 overflow-hidden font-sans transition-all duration-300 ease-in-out cursor-pointer text-md text-wrap active accordion-item">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                    <div class="my-2">
                        <a id="trigger-accordion-2" class="block py-3 mx-3 font-sans text-lg text-black cursor-pointer">Best useful link ?</a>
                        <p class="flex-wrap h-0 mx-3 my-2 overflow-hidden font-sans transition-all duration-300 ease-in-out cursor-pointer text-md text-wrap accordion-item">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                    <div class="my-2">
                        <a id="trigger-accordion-3" class="block py-3 mx-3 font-sans text-lg text-black cursor-pointer">Best useful link ?</a>
                        <p class="flex-wrap h-0 mx-3 my-2 overflow-hidden font-sans transition-all duration-300 ease-in-out cursor-pointer text-md text-wrap accordion-item">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center p-3 space-y-4 divide-y-2 shadow-xl w-80 rounded-xl shadow-gray-300">
                <div class="flex items-center w-full h-auto gap-5 p-5">
                    <img src="static/images/info-icon-01.png" class="object-contain h-14 w-14 aspect-square" alt="" srcset="">
                    <div class="flex flex-col items-start justify-center h-full">
                        <h1 class="font-sans text-2xl font-semibold text-black">250 m2</h1>
                        <h1 class="font-sans text-lg text-gray-400">250 m2</h1>
                    </div>
                </div>
                <div class="flex items-center w-full h-auto gap-5 p-5">
                    <img src="static/images/info-icon-02.png" class="object-contain h-14 w-14 aspect-square" alt="" srcset="">
                    <div class="flex flex-col items-start justify-center h-full">
                        <h1 class="font-sans text-2xl font-semibold text-black">Contract</h1>
                        <h1 class="font-sans text-lg text-gray-400">Contract Ready</h1>
                    </div>
                </div>
                <div class="flex items-center w-full h-auto gap-5 p-5">
                    <img src="static/images/info-icon-03.png" class="object-contain h-14 w-14 aspect-square" alt="" srcset="">
                    <div class="flex flex-col items-start justify-center h-full">
                        <h1 class="font-sans text-2xl font-semibold text-black">Payment</h1>
                        <h1 class="font-sans text-lg text-gray-400">Payment Process</h1>
                    </div>
                </div>
                <div class="flex items-center w-full h-auto gap-5 p-5">
                    <img src="static/images/info-icon-04.png" class="object-contain h-14 w-14 aspect-square" alt="" srcset="">
                    <div class="flex flex-col items-start justify-center h-full">
                        <h1 class="font-sans text-2xl font-semibold text-black">Safety</h1>
                        <h1 class="font-sans text-lg text-gray-400">24/7 Under Control</h1>
                    </div>
                </div>
            </div>
        </article>  
    </section>

    <section class="relative w-full h-fit">
        <div class="w-full h-auto mb-10">
            <div class="relative flex flex-col items-center w-full h-auto pt-20 space-y-10 bg-top bg-no-repeat bg-contain" style="background-image: url(static/images/video-bg.jpg)">
                <p class="px-2 font-sans text-lg font-bold text-red-500 border-l-4 border-red-500 border-solid">VIDEO VIEW</p>
                <h1 class="font-sans text-5xl font-bold text-white">
                    GET CLOSER VIEW & <br />
                    DIFFERENT FEELING
                </h1>
                <img src="static/images/video-frame.jpg" alt="" class="relative object-contain rounded-lg h-[30rem] w-auto" srcset="">
                <div class="relative flex w-full py-5 justify-evenly">
                    <article class="relative flex items-center justify-center gap-6 px-6 py-5 bg-orange-200 w-72 rounded-xl">
                        <div class="absolute top-0 right-0 bg-orange-600 rounded-full h-14 w-14 -translate-y-7 translate-x-7"></div>
                        <div class="flex items-center justify-center w-1/2 h-full">
                            <h1 class="font-sans text-4xl font-bold text-orange-600">34</h1>
                        </div>
                        <div class="flex items-center justify-start w-full h-full">
                            <p class="font-sans text-lg font-semibold text-black">Buildings Finished Now</p>
                        </div>
                    </article>
                    <article class="relative flex items-center justify-center gap-6 px-6 py-5 bg-orange-200 w-72 rounded-xl">
                        <div class="absolute top-0 right-0 bg-orange-600 rounded-full h-14 w-14 -translate-y-7 translate-x-7"></div>
                        <div class="flex items-center justify-center w-1/2 h-full">
                            <h1 class="font-sans text-4xl font-bold text-orange-600">12</h1>
                        </div>
                        <div class="flex items-center justify-start w-full h-full">
                            <p class="font-sans text-lg font-semibold text-black">Years Experience</p>
                        </div>
                    </article>
                    <article class="relative flex items-center justify-center gap-6 px-6 py-5 bg-orange-200 w-72 rounded-xl">
                        <div class="absolute top-0 right-0 bg-orange-600 rounded-full h-14 w-14 -translate-y-7 translate-x-7"></div>
                        <div class="flex items-center justify-center w-1/2 h-full">
                            <h1 class="font-sans text-4xl font-bold text-orange-600">24</h1>
                        </div>
                        <div class="flex items-center justify-start w-full h-full">
                            <p class="font-sans text-lg font-semibold text-black">Awards Won 2023</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="relative w-full p-24 bg-gray-50 h-fit">
        <div class="w-full h-fit">
            <div class="w-full space-y-8 h-fit">
                <p class="px-2 font-sans font-bold border-l-4 border-solid border-amber-600 text-md text-amber-600">BEST DEAL</p>
                <div class="flex justify-between w-full">
                    <h1 class="w-1/2 font-sans text-4xl font-bold text-black">FIND YOUR BEST DEAL <br/> RIGHT NOW!</h1>
                    <div class="flex items-end justify-end w-1/2 gap-5">
                        <button type="button" class="py-3 text-xl text-white transition-all ease-in-out rounded-lg DURATION-100 bg-amber-600 hover:scale-105 w-52 h-fit">Apartment</button>
                        <button type="button" class="py-3 text-xl text-white transition-all ease-in-out bg-black rounded-lg DURATION-100 hover:scale-105 w-52 h-fit">Villa House</button>
                        <button type="button" class="py-3 text-xl text-white transition-all ease-in-out bg-black rounded-lg DURATION-100 hover:scale-105 w-52 h-fit">Penthouse</button>
                    </div>
                </div>
                <div class="flex justify-between w-full py-5">
                    <div class="h-full w-80 ">
                        <div class="flex flex-col w-full bg-white divide-y-2 rounded-xl shado-lg shadow-gray-400 p-7">
                            <div class="flex items-center justify-between w-full py-4">
                                <h1 class="font-sans text-gray-400 text-md">Total Flat Space</h1>
                                <h2 class="font-sans text-xl font-bold text-black">185 m2</h2>
                            </div>
                            <div class="flex items-center justify-between w-full py-4">
                                <h1 class="font-sans text-gray-400 text-md">Floor Number</h1>
                                <h2 class="font-sans text-xl font-bold text-black">26th</h2>
                            </div>
                            <div class="flex items-center justify-between w-full py-4">
                                <h1 class="font-sans text-gray-400 text-md">Number of rooms</h1>
                                <h2 class="font-sans text-xl font-bold text-black">4</h2>
                            </div>
                            <div class="flex items-center justify-between w-full py-4">
                                <h1 class="font-sans text-gray-400 text-md">Parking Available</h1>
                                <h2 class="font-sans text-xl font-bold text-black">Yes</h2>
                            </div>
                            <div class="flex items-center justify-between w-full py-4">
                                <h1 class="font-sans text-gray-400 text-md">Payment Process</h1>
                                <h2 class="font-sans text-xl font-bold text-black">Bank</h2>
                            </div>
                        </div>
                    </div>

                    <div class="w-[35rem] h-full">
                        <img src="static/images/property-05.jpg" alt="" srcset="" class="object-contain w-full h-full">
                    </div>
                    <div class="flex flex-col items-start h-full space-y-6 w-80">
                        <h1 class="font-sans text-lg font-semibold text-black">Extra Info About Property</h1>
                        <p class="font-sans text-gray-400 text-md">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Ab officiis quia doloremque non, harum nam, quisquam ut mollitia ea 
                            impedit quibusdam, aperiam repellat voluptates minus necessitatibus 
                            nihil. Eius, veritatis dolorum.
                        </p>
                        <p class="font-sans text-gray-400 text-md">
                            When you need free CSS templates, you can simply type 
                            TemplateMo in any search engine website. In addition, 
                            you can type TemplateMo Portfolio, TemplateMo One Page Layouts, etc.
                        </p>
                        <div class="flex items-center text-white rounded-full bg-slate-950">
                            <a href="#" class="mr-5 transition-colors duration-300 ease-in-out rounded-full bg-amber-700 hover:bg-amber-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 m-3 text-white transition-colors duration-300 ease-in-out rounded hover:text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                                </svg>
                            </a>
                            <div class="flex items-center justify-center w-auto h-auto rounded-full">
                                <a href="#" class="mr-5 font-sans text-sm font-medium text-white transition-colors duration-300 ease-in-out hover:text-red-700">Schedule a visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="flex flex-col items-center w-full p-24 bg-white space-y-7 h-fit">
        <h2 class="px-2 font-sans font-bold text-red-500 border-l-4 border-red-500 border-solid text-md">PROPERTIES</h2>
        <h1 class="font-sans text-5xl font-bold text-black">
            We Provide The Best <br />
            Property You Like
        </h1>
        <article class="grid w-full grid-cols-3 gap-3 py-5 h-fit">
            <!-- PROPERTY 1 -->
            <a href="" class="w-full p-6 divide-y-2 rounded-lg bg-gray-50 h-fit">
                <div class="w-full h-fit">
                    <img src="static/images/property-01.jpg" alt="" srcset="" class="object-cover w-full h-full rounded-lg">
                    <div class="flex items-center justify-between w-full my-3 h-fit">
                        <h2 class="w-auto p-2 font-sans text-black bg-red-200 rounded-lg text-md h-fit">Luxury Villa</h2>
                        <h1 class="font-sans text-xl font-semibold bg-transparent text-amber-600">&dollar;2.263.000</h1>
                    </div>
                    <div class="flex justify-start my-3 w full">
                        <h1 class="font-sans text-xl font-bold text-black">18 New Street Miami, OR 97219</h1>
                    </div>
                    <div class="flex flex-wrap justify-start w-full py-2 my-3">
                        <div class="w-auto gap-3 py-2">
                            <p class="inline-block font-sans text-black text-md">Bedroom: </p>
                            <p class="inline-block font-sans font-bold text-black text-md">8</p>
                        </div>
                    </div>
                </div>
                

                <div class="flex items-center justify-center w-full py-4 h-fit">
                    <button type="button" class="px-5 py-2 text-lg text-white transition-colors duration-300 ease-in-out bg-black rounded-l-full rounded-r-full text-white-font-sans hover:bg-amber-600">Schedule a visit</button>
                </div>
            </a>
            <!-- PROPERTY 2 -->
            <a href="" class="w-full p-6 divide-y-2 rounded-lg bg-gray-50 h-fit">
                <div class="w-full h-fit">
                    <img src="static/images/property-02.jpg" alt="" srcset="" class="object-cover w-full h-full rounded-lg">
                    <div class="flex items-center justify-between w-full my-3 h-fit">
                        <h2 class="w-auto p-2 font-sans text-black bg-red-200 rounded-lg text-md h-fit">Luxury Villa</h2>
                        <h1 class="font-sans text-xl font-semibold bg-transparent text-amber-600">&dollar;2.263.000</h1>
                    </div>
                    <div class="flex justify-start my-3 w full">
                        <h1 class="font-sans text-xl font-bold text-black">18 New Street Miami, OR 97219</h1>
                    </div>
                    <div class="flex flex-wrap justify-start w-full py-2 my-3">
                        <div class="w-auto gap-3 py-2">
                            <p class="inline-block font-sans text-black text-md">Bedroom: </p>
                            <p class="inline-block font-sans font-bold text-black text-md">8</p>
                        </div>
                    </div>
                </div>
                

                <div class="flex items-center justify-center w-full py-4 h-fit">
                    <button type="button" class="px-5 py-2 text-lg text-white transition-colors duration-300 ease-in-out bg-black rounded-l-full rounded-r-full text-white-font-sans hover:bg-amber-600">Schedule a visit</button>
                </div>
            </a>
            <!-- PROPERTY 3 -->
            <a href="" class="w-full p-6 divide-y-2 rounded-lg bg-gray-50 h-fit">
                <div class="w-full h-fit">
                    <img src="static/images/property-02.jpg" alt="" srcset="" class="object-cover w-full h-full rounded-lg">
                    <div class="flex items-center justify-between w-full my-3 h-fit">
                        <h2 class="w-auto p-2 font-sans text-black bg-red-200 rounded-lg text-md h-fit">Luxury Villa</h2>
                        <h1 class="font-sans text-xl font-semibold bg-transparent text-amber-600">&dollar;2.263.000</h1>
                    </div>
                    <div class="flex justify-start my-3 w full">
                        <h1 class="font-sans text-xl font-bold text-black">18 New Street Miami, OR 97219</h1>
                    </div>
                    <div class="flex flex-wrap justify-start w-full py-2 my-3">
                        <div class="w-auto gap-3 py-2">
                            <p class="inline-block font-sans text-black text-md">Bedroom: </p>
                            <p class="inline-block font-sans font-bold text-black text-md">8</p>
                        </div>
                    </div>
                </div>
                

                <div class="flex items-center justify-center w-full py-4 h-fit">
                    <button type="button" class="px-5 py-2 text-lg text-white transition-colors duration-300 ease-in-out bg-black rounded-l-full rounded-r-full text-white-font-sans hover:bg-amber-600">Schedule a visit</button>
                </div>
            </a>
        </article>

    </section>  
    {% include "includes/footer.html" %}
    {% block scripts %}
        <script src="static/js/accordion.js"></script>
    {% endblock %}
{% endblock  %}