{% extends "base.html" %}


{% block title %}Villa{% endblock  %}

{% block content %}
    {% include 'includes/header.html' %}
     
    <section id="controls-carousel" class="flex justify-center items-center bg-center bg-fixed h-screen w-auto bg-no-repeat" style="background-image: url(static/images/banner-01.jpg)" data-carousel="static">
        <article class="h-auto space-y-5 w-[32rem]">
            <div class="bg-white py-2 px-4 gap-2 w-fit">
                <h2 class="inline-block text-black text-lg font-sans">Toronto, </h2>
                <h2 class="inline-block text-orange-600 text-lg font-semibold font-sans">Canada</h2>
            </div>
            <h1 class="relative font-bold text-7xl font-sans text-white">
                Hurry! <br />
                GET THE BEST <br />
                VILLA FOR <br />
                YOU
            </h1>
        </article>
        <article class="w-[32rem]"></article>
    </section>
    <section class="relative w-full h-auto py-24 flex justify-center items-center">
        <article class="relative w-auto h-[32rem] bg-white flex gap-5">
            <div class="absolute left-0 bottom-0 items-center bg-red-600 rounded-full p-5 h-fit justify-center -translate-x-10 translate-y-10">
                <img src="static/images/featured-icon.png" class="h-14 w-14" alt="" srcset="">
            </div>
            <img src="static/images/featured.jpg" class="object-contain aspect-auto w-96" alt="" srcset="" />
            <div class="w-auto h-fit space-y-6">
                <h6 class="text-amber-600 border-l-2  border-solid border-amber-600 px-2 text-lg font-sans font-bold">Featured</h6>
                <h1 class="text-black text-5xl space-y-2 font-sans font-bold">
                    Best Appartment <br />
                    & Sea View
                </h1>
                <div class="h-fit w-[27rem] mx-3 divide-y-2 rounded-lg bg-gray-100">
                    <div class="my-2">
                        <a id="trigger-accordion-1" class="block cursor-pointer text-amber-600 py-3 mx-3 font-sans text-lg">Best useful link ?</a>
                        <p class="text-md font-sans my-2 transition-all duration-300 ease-in-out mx-3 text-wrap active cursor-pointer overflow-hidden accordion-item flex-wrap">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                    <div class="my-2">
                        <a id="trigger-accordion-2" class="block cursor-pointer text-black py-3 mx-3 font-sans text-lg">Best useful link ?</a>
                        <p class="text-md font-sans my-2 transition-all duration-300 ease-in-out mx-3 text-wrap h-0 cursor-pointer accordion-item overflow-hidden flex-wrap">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                    <div class="my-2">
                        <a id="trigger-accordion-3" class="block cursor-pointer text-black py-3 mx-3 font-sans text-lg">Best useful link ?</a>
                        <p class="text-md font-sans my-2 transition-all duration-300 ease-in-out mx-3 text-wrap h-0 cursor-pointer accordion-item overflow-hidden flex-wrap">
                            Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. 
                            TemplateMo provides you the best free CSS templates in the world. 
                            Please tell your friends about it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-80 p-3 divide-y-2 space-y-4 rounded-xl shadow-gray-300 flex flex-col justify-center items-center shadow-xl">
                <div class="p-5 h-auto w-full flex gap-5 items-center">
                    <img src="static/images/info-icon-01.png" class="h-14 w-14 object-contain aspect-square" alt="" srcset="">
                    <div class="h-full flex flex-col justify-center items-start">
                        <h1 class="text-black font-sans font-semibold text-2xl">250 m2</h1>
                        <h1 class="text-gray-400 font-sans text-lg">250 m2</h1>
                    </div>
                </div>
                <div class="p-5 h-auto w-full flex gap-5 items-center">
                    <img src="static/images/info-icon-02.png" class="h-14 w-14 object-contain aspect-square" alt="" srcset="">
                    <div class="h-full flex flex-col justify-center items-start">
                        <h1 class="text-black font-sans font-semibold text-2xl">Contract</h1>
                        <h1 class="text-gray-400 font-sans text-lg">Contract Ready</h1>
                    </div>
                </div>
                <div class="p-5 h-auto w-full flex gap-5 items-center">
                    <img src="static/images/info-icon-03.png" class="h-14 w-14 object-contain aspect-square" alt="" srcset="">
                    <div class="h-full flex flex-col justify-center items-start">
                        <h1 class="text-black font-sans font-semibold text-2xl">Payment</h1>
                        <h1 class="text-gray-400 font-sans text-lg">Payment Process</h1>
                    </div>
                </div>
                <div class="p-5 h-auto w-full flex gap-5 items-center">
                    <img src="static/images/info-icon-04.png" class="h-14 w-14 object-contain aspect-square" alt="" srcset="">
                    <div class="h-full flex flex-col justify-center items-start">
                        <h1 class="text-black font-sans font-semibold text-2xl">Safety</h1>
                        <h1 class="text-gray-400 font-sans text-lg">24/7 Under Control</h1>
                    </div>
                </div>
            </div>
        </article>  
    </section>
    <section class="relative w-full h-fit">
        <div class="relative w-full flex flex-col items-center pt-20 bg-cover bg-top space-y-7 bg-no-repeat h-[30rem]" style="background-image: url(static/images/video-bg.jpg)">
            <p class="font-bold font-sans text-lg text-red-500 border-l-2 border-solid border-red-500 px-3">VIDEO VIEW</p>
            <h1 class="text-5xl font-bold text-white font-sans">
                GET CLOSER VIEW & <br />
                DIFFERENT FEELING
            </h1>
            <img src="static/images/video-frame.jpg" alt="" class="relative object-contain rounded-lg h-[30rem] w-auto" srcset="">
            <div class="relative w-full flex justify-evenly">
                <article class="relative w-72 bg-orange-200 rounded-xl flex items-center gap-8 p-8">
                    <div class="rounded-full h-14 w-14 bg-orange-600 absolute top-0 r-0 -translate-y-10 translate-x-10"></div>
                    <h1 class="text-2xl font-bold font-sans text-orange-600">34</h1>
                    <p class="text-black text-lg font-sans font-semibold">Buildings Finished Now</p>
                </article>
            </div>
        </div>

    </section>

    {% include "includes/footer.html" %}
    {% block scripts %}
        <script src="static/js/accordion.js"></script>
    {% endblock  %}
{% endblock  %}