{% load static %}

<header class="relative w-full h-auto py-2 divide-y-2 bg-white">
    <div class="relative flex justify-between w-full px-24 py-2 bg-white">
        <div class="flex gap-5">
            <div class="flex items-center gap-5">
                <img class="object-contain h-4 aspect-video" src="{% static '/images/email-icon.png' %}"/>
                <a href="#" class="font-sans text-gray-400 text-md">foo@bar.com</a>
            </div>
            <div class="flex items-center gap-3">
                <a href="" class="text-amber-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 text-amber-700">
                        <path fill-rule="evenodd" d="M8.161 2.58a1.875 1.875 0 0 1 1.678 0l4.993 2.498c.106.052.23.052.336 0l3.869-1.935A1.875 1.875 0 0 1 21.75 4.82v12.485c0 .71-.401 1.36-1.037 1.677l-4.875 2.437a1.875 1.875 0 0 1-1.676 0l-4.994-2.497a.375.375 0 0 0-.336 0l-3.868 1.935A1.875 1.875 0 0 1 2.25 19.18V6.695c0-.71.401-1.36 1.036-1.677l4.875-2.437ZM9 6a.75.75 0 0 1 .75.75V15a.75.75 0 0 1-1.5 0V6.75A.75.75 0 0 1 9 6Zm6.75 3a.75.75 0 0 0-1.5 0v8.25a.75.75 0 0 0 1.5 0V9Z" clip-rule="evenodd" />
                    </svg>                      
                </a>
                <a href="#" class="font-sans text-gray-400 text-md">Sunny Isles Beach, FL 33160</a>
            </div>
        </div>
        <div class="flex items-center justify-end gap-3">
            <a href="" class="p-2 transition-colors duration-300 ease-in-out bg-gray-400 rounded-full hover:bg-amber-800">
                <svg
                    class="w-5 h-5 text-white rounded-full fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path
                        d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                    />
                </svg>
            </a>
            <a href="" class="p-2 transition-colors duration-300 ease-in-out bg-gray-400 rounded-full hover:bg-amber-800">
                <svg
                    class="w-5 h-5 text-white rounded-full fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path
                        d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                    />
                </svg>
            </a>
            <a href="" class="p-2 transition-colors duration-300 ease-in-out bg-gray-400 rounded-full hover:bg-amber-800">
                <svg
                    class="w-5 h-5 text-white rounded fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                    ></path>
                </svg>
            </a>
            
        </div>
    </div>
    <nav class="relative bg-white flex items-center justify-between w-full px-24 py-6">
        <a href="{% url "clients:home" %}" class="text-3xl font-bold text-black font sans">VILLA</a>
        <div class="flex items-center gap-10 justify-evenly">

            <a href="{% url "clients:home" %}" class="font-sans text-gray-800 transition-colors duration-300 ease-in-out text-md hover:text-amber-600">Home</a>
            <a href="{% url "properties:index" %}" class="font-sans text-gray-800 transition-colors duration-300 ease-in-out text-md hover:text-amber-600">Properties</a>
            <a href="{% url "properties:details" %}" class="font-sans text-gray-800 transition-colors duration-300 ease-in-out text-md hover:text-amber-600">Properties Details</a>
            <a href="#" class="font-sans text-gray-800 transition-colors duration-300 ease-in-out text-md hover:text-amber-600">Contact Us</a>
            <div class="flex items-center text-white rounded-full bg-slate-950">
                <a href="#" class="mr-5 transition-colors duration-300 ease-in-out rounded-full bg-amber-700 hover:bg-amber-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 m-3 text-white transition-colors duration-300 ease-in-out rounded hover:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                    </svg>
                </a>
                <div class="flex items-center justify-center w-auto h-auto rounded-full">
                    <a href="#" class="mr-5 font-sans text-sm font-medium text-white transition-colors duration-300 ease-in-out hover:text-red-700">Schedule a visit</a>
                </div>
            </div>
        </div>
    </nav>
</header>